<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title th:if="${editMode}">Update Lecturer</title>
    <title th:unless="${editMode}">Add Lecturer</title>
</head>

<body>


<section layout:fragment="content">
    <div class="container p-3">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" th:unless="${editMode}">Add Lecturer</h2>
                    <h2 class="text-center" th:if="${editMode}">Update Lecturer</h2>
                </div>
                <div class="card-body">
                    <form role="form" th:method="${editMode? 'put': 'post'}" th:action="@{/lecturers}" th:object="${lecturer}" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label"> ID </label>
                            <input  th:readonly="${editMode}"
                                    type="text"
                                    class="form-control"
                                    id="id"
                                    name="id"
                                    th:field="*{id}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Name </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    th:field="*{name}"
                            />
                        </div>


                        <div class="mb-3">
                            <label class="form-label"> Last Name </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="lastName"
                                    name="lastName"
                                    th:field="*{lastName}"
                            />
                        </div>


                        <div class="mb-3">
                            <label class="form-label"> Phone </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="phone"
                                    name="phone"
                                    th:field="*{phone}"
                            />
                        </div>


                        <div class="mb-3">
                            <label class="form-label"> Mail </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="mail"
                                    name="mail"
                                    th:field="*{mail}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> CV </label>
                            <input
                                    type="file"
                                    class="form-control"
                                    id="cv"
                                    name="cv"
                                    accept=".txt, .pdf, .doc, .docx"
                            />
                        </div>

                        <div class="mb-3 p-3" th:unless="${editMode}">
                            <label class="form-label"> Courses </label>
                            <div th:replace="fragments/courses_add_remove :: courses-add-remove(allCourses=${allCourses}, selectedCourses=${selectedCourses})"></div>
                        </div>

                        <input
                                type="hidden"
                                class="form-control"
                                id="selectedCoursesIds"
                                name="coursesIds"
                        />

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var origOnUpdate = onUpdate;
        onUpdate = function() {
            origOnUpdate();
            var coursesIdsElem = document.getElementById('selectedCoursesIds');
            coursesIdsElem.value = selectedCoursesIds.join(',');
            console.log(coursesIdsElem.value);
        }
    </script>


</section>

</body>
</html>