<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title th:if="${editMode}">Update Course</title>
    <title th:unless="${editMode}">Add Course</title>
</head>

<body>


<section layout:fragment="content">

    <div class="container p-3">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 th:if=${editMode} class="text-center">Update Course</h2>
                    <h2 th:unless=${editMode} class="text-center">Add Course</h2>
                </div>
                <div class="card-body">
                    <form role="form" th:method="${editMode? 'put': 'post'}" th:action="@{/courses}" th:object="${newCourse}" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label"> ID </label>
                            <input  th:readonly="${editMode}"
                                    type="text"
                                    class="form-control"
                                    id="id"
                                    name="id"
                                    th:field="*{id}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Name </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    th:field="*{name}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Hours </label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="hours"
                                    name="hours"
                                    th:field="*{hours}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Syllabus </label>
                            <input
                                    type="file"
                                    class="form-control"
                                    id="syllabus"
                                    name="syllabus"
                                    accept=".txt, .pdf, .doc, .docx"
                            />
                        </div>

                        <div class="mb-3" th:unless="${editMode}">
                            <label class="form-label"> Pre course </label>
                            <select id="preCourse" name="preCourseId">
                                <option value="">None</option>
                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>