<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
</head>

<body>


<section layout:fragment="content">
    <!-- dialog-template.html -->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div th:replace=":: add-semester"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</section>

<div th:fragment="add-semester">


    <div class="container p-3">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">New Semester</h2>
                </div>
                <div class="card-body">
                    <form role="form" method="post" th:action="@{/semesters}" th:object="${newSemester}">
                        <div class="mb-3">
                            <label class="form-label"> ID </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    th:field="*{name}"
                            />
                        </div>

                        <input
                                type="hidden"
                                class="form-control"
                                id="curriculumId"
                                name="curriculumId"
                                th:value="${curriculumId}"
                        />

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>