<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
<body>

<section layout:fragment="content">
    <div class="container mt-4 p-4 row">
        <div class="col p-4">
            <a class="btn btn-primary p-4" href="/lecturers">Lecturers</a>
        </div>
        <div class="col p-4">
            <a class="btn btn-primary p-4" href="/courses">Courses</a>
        </div>
        <div class="col p-4">
            <a class="btn btn-primary p-4" href="/curriculums">Curriculums</a>
        </div>
    </div>
</section>
</body>
</html>