<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <script>
          async function deleteCourse(courseId) {
            const url = '/courses/' + courseId;
            let resp = await fetch(url, {
                        method: 'DELETE',
                    });
                if (!resp.ok) {
                    error = await resp.text();
                    console.error(error);
                    window.alert("Cannot delete course because it's in some curriculum, or it's a pre course of another course, or it's taught by some lecturer");
                }
            window.location = '/courses';
          }
</script>


</head>

<body>

<section layout:fragment="content">

    <div class="container p-3">
        <div class="row">
            <h2>Lecturers</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Hours</th>
            <th>Syllabus</th>
            <th>Pre Course</th>
            <td></td>
            <td></td>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}" th:object="${course}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{hours}"></td>
                <td><a th:href="*{syllabusPath}">Syllabus</a></td>
                <td th:with="hasPreCourse=${course.preCourse != null}">
                    <div th:replace=":: pre-course-selector(course=${course})"></div>
                </td>
                <td><a class="btn btn-outline-success" th:href="@{/courses/{id}/edit(id=${course.id})}"><i class="bi bi-pen"></i></a></td>
                <td><a class="btn btn-outline-danger" th:attr="onclick='deleteCourse(\'' + ${course.id} + '\')'"><i class="bi bi-trash"></i></a></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" href="/courses/new">Add Course</a>
        </div>
    </div>


    <script>
    function removePreCourse(courseId) {
        fetch('/courses/' + courseId + '/remove-pre-course', {method: 'POST'});
    }

    async function setPreCourse(courseId, preCourseId) {
        try {
            let resp = await fetch('/courses/' + courseId + '/set-pre-course?preCourseId=' + preCourseId, {method: 'POST'});
            if (!resp.ok) {
                console.log(resp);
                let error = await resp.text();
                console.log(error);
                window.alert('Cyclic pre course');
                window.location = '/courses';
            }
        } catch(error) {
            console.log(error);
        }
    }

    function onPreCourseSelected(selector) {
        var courseId= selector.id;
        selectedPreCourse = selector.value;
        if (selectedPreCourse == 'none') {
            removePreCourse(courseId);
        } else {
            setPreCourse(courseId, selectedPreCourse);
        }
    }

    </script>

</section>


<div th:fragment="pre-course-selector(course)">
    <select th:id="${course.id}" onchange="onPreCourseSelected(this)" class="selectpicker">
        <option th:selected="${course.preCourse == null}" value="none">None</option>
        <th:block th:each="preCourse : ${courses}">
            <option th:if="${!#strings.equals(course.id, preCourse.id)}"
                    th:text="${preCourse.name}"
                    th:value="${preCourse.id}"
                    th:selected="${course.preCourse != null && #strings.equals(course.preCourse.id, preCourse.id)}">
            </option>
        </th:block>
    </select>
</div>


</body>
</html>