<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>

</head>

<body>

<section layout:fragment="content">

    <div class="container p-3">
        <div class="row">
            <h2>Lecturers</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Hours</th>
            <th>Pre Course</th>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}" th:object="${course}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{hours}"></td>
                <td th:with="hasPreCourse=${course.preCourse != null}">
                    <div th:replace=":: pre-course-selector(course=${course})"></div>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" href="/courses/new">Add Course</a>
        </div>
    </div>


    <script>
    function removePreCourse(courseId) {
        fetch('/courses/' + courseId + '/remove-pre-course', {method: 'POST'});
    }

    function setPreCourse(courseId, preCourseId) {
        fetch('/courses/' + courseId + '/set-pre-course?preCourseId=' + preCourseId, {method: 'POST'});
    }

    function onPreCourseSelected(selector) {
        var courseId= selector.id;
        selectedPreCourse = selector.value;
        if (selectedPreCourse == 'none') {
            removePreCourse(courseId);
        } else {
            setPreCourse(courseId, selectedPreCourse);
        }
    }

    </script>

</section>


<div th:fragment="pre-course-selector(course)">
    <select th:id="${course.id}" onchange="onPreCourseSelected(this)" class="selectpicker">
        <option th:selected="${course.preCourse == null}" value="none">None</option>
        <th:block th:each="preCourse : ${courses}">
            <option th:if="${!#strings.equals(course.id, preCourse.id)}"
                    th:text="${preCourse.name}"
                    th:value="${preCourse.id}"
                    th:selected="${course.preCourse != null && #strings.equals(course.preCourse.id, preCourse.id)}">
            </option>
        </th:block>
    </select>
</div>


</body>
</html>