<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title th:if="${editMode}">Update Curriculum</title>
    <title th:unless="${editMode}">Add Curriculum</title>
</head>

<body>


<section layout:fragment="content">

    <div class="container p-3">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 th:if="${editMode}" class="text-center">Update Curriculum</h2>
                    <h2 th:unless="${editMode}" class="text-center">Update Curriculum</h2>
                </div>
                <div class="card-body">
                    <form role="form" th:method="${editMode? 'put': 'post'}" th:action="@{/curriculums}" th:object="${newCurriculum}">
                        <div class="mb-3">
                            <label class="form-label"> Start Year </label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="startYear"
                                    name="startYear"
                                    th:field="*{startYear}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> End Year </label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="endYear"
                                    name="endYear"
                                    th:field="*{endYear}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Hebrew Start Year </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="hebrewStartYear"
                                    name="hebrewStartYear"
                                    th:field="*{hebrewStartYear}"
                            />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"> Hebrew End Year </label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="hebrewEndYear"
                                    name="hebrewEndYear"
                                    th:field="*{hebrewEndYear}"
                            />
                        </div>


                        <input
                                type="hidden"
                                class="form-control"
                                id="id"
                                name="id"
                                th:value="*{id}"
                        />

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>