<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Curriculum Semesters Management</title>

</head>

<body>

<section layout:fragment="content">

    <div class="container p-3" th:with="semesters=${curriculum.semesters}">
        <div class="row">
            <h2>Curriculum Semesters Management</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>ID</th>
            <th>Start Year</th>
            <th>End Year</th>
            <th>Hebrew Start Year</th>
            <th>Hebrew End Year</th>
            </thead>
            <tbody>
            <tr th:object="${curriculum}">
                <td th:text="*{id}"></td>
                <td th:text="*{startYear}"></td>
                <td th:text="*{endYear}"></td>
                <td th:text="*{hebrewStartYear}"></td>
                <td th:text="*{hebrewEndYear}"></td>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <h3 class="mb-3">Semesters</h3>
        <br>

        <th:block th:each="semester : ${semesters}">
            <div th:fragment=":: semester-table(semester=${semester})"></div>
        </th:block>

        <a class="btn btn-primary" href="/semesters/new">Add Semester</a>
    </div>

</section>


<div th:fragment="semester-table(semester)">
    <h5 th:text="${semester.name}"></h5>
    <th:block th:with="curriculumCourse=${semester.courses}">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Lecturer Name</th>
            <th>Pre Course</th>
            <th>Learning Hours</th>
            </thead>
            <tbody>
            <tr th:each="curriculumCourse : ${curriculumCourse}" th:object="${curriculumCourse}">
                <th:block th:with="course=${curriculumCourse.course}, lecturer=${curriculumCourse.lecturer}">
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${lecturer.name}"></td>
                    <td th:if="${course.preCourse != null}" th:text="${course.preCourse.name}"></td>
                    <td th:unless="${course.preCourse != null}"></td>
                    <td th:text="${course.hours}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </th:block>

    <div>
        <a class="btn btn-primary" id="addCourseButton" th:data-semester-id="${semester.id}">Add Course</a>
    </div>
</div>


</body>
</html>