<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
<body>

<section layout:fragment="content">
    <div class="container p-4">
        <a class="btn btn-primary" href="/lecturers">Lecturers</a>
        <a class="btn btn-primary" href="/courses">Courses</a>
        <a class="btn btn-primary" href="/curriculums">Curriculums</a>
    </div>
</section>
</body>
</html>