<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Curriculum Semesters</title>

</head>

<body>

<section layout:fragment="content">

    <div class="container p-3" th:with="semesters=${curriculum.semesters}">
        <div class="row">
            <h2>Curriculum Semesters</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>Curriculum ID</th>
            <th>Start Year</th>
            <th>End Year</th>
            <th>Hebrew Start Year</th>
            <th>Hebrew End Year</th>
            </thead>
            <tbody>
            <tr th:object="${curriculum}">
                <td th:text="*{id}"></td>
                <td th:text="*{startYear}"></td>
                <td th:text="*{endYear}"></td>
                <td th:text="*{hebrewStartYear}"></td>
                <td th:text="*{hebrewEndYear}"></td>
                </td>
            </tr>
            </tbody>
        </table>

        <br>

        <br>

        <h2 class="mt-5">Semesters</h2>


        <th:block th:each="semester : ${semesters}">
            <div class="mt-5" th:insert=":: semester-table(semester=${semester})"></div>
        </th:block>

    </div>

</section>


<div th:fragment="semester-table(semester)">
    <h4 th:text="${semester.name}"></h4>
    <th:block th:with="curriculumCourse=${semester.courses}">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Lecturer Name</th>
            <th>Pre Course</th>
            <th>Learning Hours</th>
            </thead>
            <tbody>
            <tr th:each="curriculumCourse : ${curriculumCourse}" th:object="${curriculumCourse}" th:class="${@webUtils.isUserId(curriculumCourse.lecturer.id)? 'bg-warning': ''}">
                <th:block th:with="course=${curriculumCourse.course}, lecturer=${curriculumCourse.lecturer}">
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${lecturer.name}"></td>
                    <td th:if="${course.preCourse != null}" th:text="${course.preCourse.name}"></td>
                    <td th:unless="${course.preCourse != null}"></td>
                    <td th:text="${course.hours}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>


</body>
</html>