<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
<body>

<section layout:fragment="content">
    <div class="container p-4">
        <h3>Welcome [[${lecturer.name}]]</h3>
        <br>
        <div class="row mt-5">
            <div class="col p-4">
                <a class="btn btn-primary p-5" href="/lecturer/courses">My Courses</a>
            </div>
            <div class="col p-4">
                <a class="btn btn-primary p-5" href="/lecturer/curriculums">Curriculums</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>