<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Lecturers</title>
</head>

<body>

<section layout:fragment="content">

    <div class="container p-3">
        <div class="row">
            <h2>Lecturers</h2>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Mail</th>
            </thead>
            <tbody>
            <tr th:each="lecturer : ${lecturers}" th:object="${lecturer}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{phone}"></td>
                <td th:text="*{mail}"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary" href="/lecturers/new">Add Lecturer</a>
        </div>
    </div>
</section>
</body>
</html>